html {
  height: 100%;
}
body {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100%;
  margin: 0;
}
:link {
  color: #6bf;
}
:visited {
  color: #b6f;
}
main {
  margin: 0 auto;
}
/* front page */
.title {
  font-size: 6em;
}
/* projects page */
.projects {
  display: flex;
  flex-flow: column;
  max-width: 850px;
  margin: 0 auto;
  padding: 12px 25px;
  background-color: #222;
}
.project {
  display: flex;
  flex-flow: column;
  margin: 4px;
  padding: 12px;
}
.stage-0 {
  background-color: #343;
}
.stage-1 {
  background-color: #485833;
}
.stage-2 {
  background-color: #6a5c33;
}
.stage-3 {
  background-color: #654;
}
.classification {
  display: flex;
  font-size: .75em;
  justify-content: space-between;
}
.id {
  color: white;
  opacity: 0.2;
  text-decoration: none;
}
.id:hover {
  opacity: 1;
}
:target .id {
  opacity: 1;
  text-decoration: underline;
}
.details {
  display: flex;
}
.summary {
  display: flex;
  flex: 1;
  flex-flow: column;
}
.logo {
  object-fit: contain;
  width: 128px;
  height: 128px;
  margin: 3px 9px 3px 0;
  padding: 3px;
  background-color: rgba(255,255,255,0.5);
  background-image:
    linear-gradient(45deg, rgba(0,0,0,0.2) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(0,0,0,0.2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(0,0,0,0.2) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0,0,0,0.2) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.concept {
  margin-top: 3px;
}
.name {
  font-size: 2em;
  font-weight: bold;
}
.subname {
  font-size: 1.5em;
}
.description {
  font-style: italic;
}
.description p {
  margin: 0;
}
.urls {
  margin-top: 2px;
}
.home {
  margin-right: 6px;
  color: white;
}
.badge {
  color: black;
  text-decoration: none;
  font-size: .5em;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.9);
  padding: 2px 4px;
  vertical-align: 2px;
  margin-right: 6px;
  border-radius: 6px;
  font-style: normal;
}
.remarks {
  border-radius: 8px;
  background-color: rgba(255,255,255,0.25);
  padding: 0 8px;
  margin-top: 8px;
}
